<link href="content/homepage/2015/150423_CAE/css/temporary.css?$staticlink$" rel="stylesheet" type="text/css">
<script>
    $(document).ready(function() {
		$("button").click(function() {
	    	$("div.pattern").toggle();
	  	});
	});
	$(document).ready(function() {
	    $('.hover').on('click', function(e) {
	        $(this).toggleClass('hover_effect');
	    });
	});
</script>

<div class="rootsContainer clearfix">
	<div class="Phase1-lp_main padB clearfix desktop tablet">
		<div class="js-cm-track-element hero-link" style="max-height: 612px;">
			<img src="content/homepage/2015/150526_siteRefresh/images/fwlp_main.jpg?$staticlink$">
			<div class="copyCopyRight" style="width: 300px; text-align: center; top: 50px;">
            <font size="4">Pair with</font> <br /><strong><i><font size="5">shades, sunscreen, </br>and a day off.</font></i></strong><br />
<font size="3">Made with a memory foam padded insole, and covered in cool suede.</font>
			</div>
			<div style="width:%;text-align:left;position:absolute;top:25%;right:10%;z-index:2;">
				<a class="blackButton" href="http://www.roots.com/us/en/shoes/womens/sandals/">
					shop women's sandals</a></div>
			</div>
	</div>
	<div class="Phase1-lp_main padB clearfix mobile">
		<div class="js-cm-track-element hero-link">
			<img src="content/homepage/2015/150526_siteRefresh/images/fwlp_main.jpg?$staticlink$">
			<div class="copyCopyLeft">
			</div>
			<div style="width:99%;text-align:right;position:absolute;top:3%;right:8%;z-index:2;">
				<a class="blackCTA" href="http://www.roots.com/us/en/shoes/womens/sandals/">
					shop women's sandals</a></div>
              </div>
		</div>
	<div class="mobileCategoryMenu clearfix">
		<div class="mobileCategoryMenu-title clearfix"><a href="http://usa.roots.com/footwear/womens-shoes-boots/ShoesWomensShoesAndBoots,default,sc.html">Women's</a></div>
		<div class="mobileCategoryMenu-title clearfix"><a href="http://usa.roots.com/footwear/mens-shoes-boots/ShoesMensShoesAndBoots,default,sc.html">Men's</a></div>
	</div>
	<div class="twoColumnStory clearfix">
		<div class="columnOne">
       		<div class="footwearTitle">
				<a class="blackCTA" style="text-align:center;font-family:ITC Souvenir W01 Light, serif !important;font-size:18px !important;letter-spacing:0.05em !important;" href="http://usa.roots.com/footwear/womens-boots/shoesWomensBoots,default,sc.html">
					WOMEN
				</a>
			</div>
			<div class="ecommImage">
				<a class="imageFade" href="http://www.roots.com/us/en/natural-roots-thong-16030138.html?start=2&q=16030138&selectedColor=001&navid=search">
					<img src="content/homepage/2015/150526_siteRefresh/images/16030138.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage MLM">
				<a class="imageFade" href="http://usa.roots.com/CapriSandalPrince/Women%27sShoesandBootsSandals//16030140,default,pd.html?selectedColor=001&cgid=shoesWomensSandals&start=1&q=#start=1">
					<img src="content/homepage/2015/150505_SiteRefresh/images/16030140.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage NMB">
				<a class="imageFade" href="http://www.roots.com/us/en/natural-roots-2-strap-16030137.html?start=2&q=16030137&selectedColor=001&navid=search">
					<img src="content/homepage/2015/150526_siteRefresh/images/16030137.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage NMB MLM">
				<a class="imageFade" href="http://www.roots.com/us/en/natural-roots-toe-loop-50684090.html">
					<img src="content/homepage/2015/150526_siteRefresh/images/16030139.jpg?$staticlink$">
				</a>
			</div>
		</div>
		<div class="columnTwo">
        	<div class="footwearTitle" style="padding-left: 8px;">
				<a class="blackCTA" style="font-family:ITC Souvenir W01 Light, serif !important;font-size:18px !important;letter-spacing:0.05em !important;" href="http://usa.roots.com/footwear/mens-boots/shoesMensBoots,default,sc.html">
					MEN
				</a>
			</div>
			<div class="ecommImage">
				<a class="imageFade" href="http://www.roots.com/us/en/men%C2%92s-natural-roots-2-strap-15030035.html?start=2&q=15030035&selectedColor=001&navid=search">
					<img src="content/homepage/2015/150526_siteRefresh/images/15030035.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage MLM">
				<a class="imageFade" href="http://www.roots.com/us/en/men%C2%92s-natural-roots-2-strap-15030035.html?start=1&q=15030035&selectedColor=Y20&navid=search">
					<img src="content/homepage/2015/150526_siteRefresh/images/15030035b.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage NMB">
				<a class="imageFade" href="http://www.roots.com/us/en/bud-boot-tribe-50711543.html">
					<img src="content/homepage/2015/150526_siteRefresh/images/15020121.jpg?$staticlink$">
				</a>
			</div>
			<div class="ecommImage NMB MLM">
				<a class="imageFade" href="http://www.roots.com/us/en/men%C2%92s-chukka-boot-warrior-50460083.html">
					<img src="content/homepage/2015/150526_siteRefresh/images/15020108.jpg?$staticlink$">
				</a>
			</div>
		</div>
	</div>
	<div class="desktop tablet" style="width:100%;margin:20px auto;padding:5px 0 0;background-color:#eaeaea;"></div>
	<div class="rowLP desktop tablet">
		<div class="ecommImageFirst">
			<a class="imageFade" href="http://usa.roots.com/leather-accessories/classic-leather-kit/50515684,default,pd.html">
				<img src="content/homepage/2015/150303_WTW-Fleece/images/14090050.jpg?$staticlink$">
			</a>
		</div>
		<div class="ecommImage">
			<table class="copySquare" style="height:200px;">
			    <tbody>
			        <tr>
			            <td class="copy" style="font-size:28px;line-height:32px;color:#FFFFFF;">
			            	Leather<br/>Care<br/>
			            	<a class="whiteCTA" href="http://usa.roots.com/Roots-Genuine-Leather-and-Care-Instructions/HELP_LeatherCare,default,pg.html">
			            		learn more
			            	</a>
		            		<a class="whiteCTA" href="http://usa.roots.com/leather-care-products/LeatherCareProducts,default,sc.html">
		            			shop now
		            		</a>
			            </td>
			        </tr>
			    </tbody>
			</table>
			<img src="content/homepage/2015/150303_WTW-Fleece/images/fwlp_lc.jpg?$staticlink$">
		</div>
		<div class="ecommImage">
			<a class="imageFade" href="http://usa.roots.com/leather-care-accessories%5Croots-tribe-nubuck-cleaner/50724413,default,pd.html">
				<img src="content/homepage/2015/150427_SiteRefresh/images/14090052.jpg?$staticlink$">
			</a>
		</div>
		<div class="ecommImage">
			<a class="imageFade" href="http://usa.roots.com/leather-care-accessories%5Croots-ink-lifter/14090056,default,pd.html?selectedColor=000&cgid=LeatherCareProducts&start=1&q=#start=1">
				<img src="content/homepage/2015/150427_SiteRefresh/images/01090029.jpg?$staticlink$">
			</a>
		</div>
	</div>
</div>